footer {
    padding: 10px 40px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: brown;
    color: cornsilk;
    display: flex;
    text-align: center;
    border: 1.5em;
    align-items: center;
    margin: 0;
}